
.gender {
    padding: 200px 0;
}


.names {
    color: #750b09;
}


.char {
    line-height: 50px;
    transform: rotate3d(1, 0, 0, 55deg);
    font-size: 90px;
}

.listNames {
      /* Flexbox to center the entire element on the screen */
  display: flex;
  justify-content: center;
  position: relative;
  /* This is a magic number based on the context in which this snippet is used and effects the perspective */
  height: 800px;
  /* This sets allows us to transform the text on a 3D plane, and is somewhat a magic number */
  perspective: 00px;
  /* The rest is totally up to personal styling preferences */
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1000%;
  font-weight: 600%;
  letter-spacing: 6px;
  line-height: 300%;
  text-align: justify;
}

.crawl {
    /* Position the element so we can adjust the top property in the animation */
    position: relative;
    /* Making sure the text is fully off the screen at the start and end of the animation */
    transform-origin: 50% 100%;
    /* Defines the skew origin at the very center when we apply transforms on the animation */
    
    animation: crawl 40s linear;

  }

  @keyframes crawl {
    0% {
      /* The element starts below the screen */
      top: -100px;
      /* Rotate the text 20 degrees but keep it close to the viewer */
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      /* This is a magic number, but using a big one to make sure the text is fully off the screen at the end */
      top: -6000px;
      /* Slightly increasing the rotation at the end and moving the text far away from the viewer */
      transform: rotateX(25deg) translateZ(-2500px);
    
    }
  }